
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signin {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 70%;
  }
  
  .content {
    text-align: center;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 20px;
  }
  
  form input[type="text"],
  form input[type="Email"],
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .links {
    margin-top: 20px;
  }
  
  .links a {
    color: #333;
    margin-right: 10px;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  