{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Contact</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'gallery/img/favicon.png' %}" rel="icon">
  <link href="{% static 'gallery/img/mach.jpg' %}" rel="apple-touch-icon"> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
  <link href="{% static 'gallery/G17/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'gallery/G17/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'gallery/G17/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gallery/G17/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'gallery/G17/boxicons/css/boxicons.min.css' %}"  rel="stylesheet">
  <link href="{% static 'gallery/G17/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'gallery/css/style.css' %}" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
  <link rel="stylesheet" type="text/css" href="styles1.css">

</head>

<body>
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo">
        <h1 class="text-light"><a href="{% url 'home' %}"><span>ARTHUB</span></a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'artwork' %}">Gallery</a></li>
          <li><a class="active" href="{% url 'contact' %}">Contact Us</a></li>       
          <li><a href="{% url 'elearning' %}">eLearning plantform</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>  
          <li><a href="{% url 'team' %}">Our Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section>
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>
                    Prestige Plaza<br>
                    Along Ngong Road<br>
                    Next to the Double Tree Hotel by Hilton,<br> 
                    Nairobi County.<br>
                    KENYA.<br>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>grivinjuma@gmail.com<br>
                    muyakajestmoregmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+254 718087082<br>+254 702269959</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="footer-newsletter">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Contact us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'artwork' %}">Gallery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'elearning' %}">eLearning</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blog' %}">Blog</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Prestige Plaza<br>
              Along Ngong Road<br>
              Next to the Double Tree Hotel by Hilton,<br> 
              Nairobi County.<br>
              KENYA.<br>
              <strong>Phone:</strong> +254 718087082<br>
              <strong>Email:</strong> grivinjuma@gmail.com<br> 
              muyakajestmore@gmail.com<br>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Social media</h3>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://ke.linkedin.com/in/wahome-kariuki-999099123" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>G17</span></strong>. All Rights Reserved
      </div>
  <a href="{% url 'contact' %}" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{% static 'gallery/G17/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'gallery/G17/aos/aos.js' %}"></script>
  <script src="{% static 'gallery/G17/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'gallery/G17/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'gallery/G17/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'gallery/G17/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'gallery/G17/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'gallery/scripts/main.js' %}"></script>

</body>

</html>