{% load static %}

 <!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forgot password</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'gallery/img/favicon.png' %}" rel="icon">
  <link href="{% static 'gallery/img/mach.jpg' %}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
  <link href="{% static 'gallery/G17/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'gallery/G17/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'gallery/G17/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gallery/G17/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'gallery/G17/boxicons/css/boxicons.min.css' %}"  rel="stylesheet">
  <link href="{% static 'gallery/G17/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'gallery/css/style.css' %}" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />

</head>

<body>
    <header id="header" class="fixed-top d-flex align-items-center ">
        <div class="container d-flex justify-content-between align-items-center">  

            <nav id="navbar" class="navbar">
               <ul>
                   <li><a href="{% url 'login' %}">Login</a></li>
                   <li><a href="{% url 'signup' %}">Sign up</a></li>
               </ul>
          </nav>
    
        </div>
    </header>
    <br>
<br>
<br>
  <main id="main">
    
    <!-- {% extends 'base.html' %}

    {% block content %}
      <h2>Password Reset</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset Password</button>
      </form>
    {% endblock %} -->

    {% extends 'base.html' %}

    {% block content %}
    <h2>Reset Password</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Reset Password</button>
    </form>
    {% endblock %}

  </main>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>





</body>
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
     <div class="container">
            <div="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                     <h4>Location</h4>
                       Prestige Plaza<br>
                       Along Ngong Road<br>
                       Next to the Double Tree Hotel by Hilton,<br> 
                       Nairobi County.<br>
                       KENYA.<br>
                     <strong>Phone:</strong> +254 746792859<br>
                     <strong>Email:</strong> ogolafarms17@gmail.com<br> 
                                          ronnyogola75@gmail.com<br>
    

        </div>

             <div class="col-lg-3 col-md-6 footer-info">
                    <h3>Social media</h3>
                    <div class="social-links mt-3">
                      <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin%3Flang%3Den" class="twitter"><i class="bx bxl-twitter"></i></a>
                      <a href="https://www.facebook.com/login/" class="facebook"><i class="bx bxl-facebook"></i></a>
                      <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
                      <a href="https://ke.linkedin.com/in/wahome-kariuki-999099123" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
            </div>

    
        </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>G17</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{% static 'gallery/G17/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'gallery/G17/aos/aos.js' %}"></script>
  <script src="{% static 'gallery/G17/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'gallery/G17/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'gallery/G17/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'gallery/G17/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'gallery/G17/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'gallery/scripts/main.js' %}"></script>
  

</body>

</html>